<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css" media="screen">
        #target {
            background: #33691E;
            width: 200px;
            height: auto;
        }
    </style>
</head>

<body>
    <div id="target">
        Hello FPT POLYTECHNIC
    </div>


    <script>
        var target = document.querySelector("#target");
        target.onmouseover = function() {
            // Thực hiện đổi sang màu #BF360C
            target.style.background = "#BF360C";
        }

        target.onmouseout = function() {
            console.log("Mouse out triggered");

            target.style.background = "#33691E"; // Thực hiện đổi sang màu #33691E
        }
    </script>

</body>

</html>